<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>选择类型</title>
<link rel="stylesheet" type="text/css" href="/static/css/w_login.css" />
</head>
<body>
    <div class="container">
        <p>
            <img src="/static/images/w_title.png" alt="">
        </p>
        <div class="cate">
            <a href="{{ url_for('main.index') }}"><img src="/static/images/w_xy.png" alt=""></a>
            <a href="{{ url_for('main.w_index') }}"><img src="/static/images/w_wd.png" alt=""></a>
        </div>
    </div>

    <div class="line"></div>
    <div class="foot">
        <img src="/static/images/w_nb.png" alt="">
    </div>
    <div class="line"></div>
</body>
</html>