<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>注册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/regeditstyle.css" />
</head>
<body>
<div class="container">
	<section id="content">
		<form action="" method="POST">
			<p>注册</p>
			<div>
				&nbsp;用户名&nbsp;：<input type="text" placeholder="用户名" id="username" name='username' />
			</div>
			<div>
				&nbsp;密&nbsp;&nbsp;码&nbsp;：<input type="password" placeholder="密码" id="password" name='password' />
			</div>
            <div>
				确认密码：<input type="password" placeholder="确认密码" id="password" name='repassword' />
			</div>
			<div>
				<input type="submit" value="提交" />
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
</body>
</html>