<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="/static/css/regeditstyle.css" />
</head>
<body>
<div class="container">
	<section id="content">
		<form action="" method="POST">
			<p>修改密码</p>
			<div>
				&nbsp;旧&nbsp;密&nbsp;码&nbsp;：<input type="password" placeholder="旧密码" required="" id="oldpassword" name="oldpassword" />
			</div>
			<div>
				&nbsp;新&nbsp;密&nbsp;码&nbsp;：<input type="password" placeholder="新密码" required="" id="newpassword" name="newpassword" />
			</div>
            <div>
				&nbsp;确认密码&nbsp;：<input type="password" placeholder="确认密码" required="" id="repassword" name="repassword" />
			</div>
			<div>
				<input type="submit" value="提交" />
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
</body>
</html>