<!DOCTYPE html>
<html>
<head>
  <meta  http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>全局路径</title>
  <script src="/static/jquery.js"></script>
    <style>
    .error {color:red;font-weight:bold;}
    </style>
<script>
  window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>
  <script src="/static/js/jquery.cookie.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/nbitstyle.css"/>
  <link rel="stylesheet" href="/static/css/alertify.core.css" />
  <link rel="stylesheet" href="/static/css/alertify.default.css" />
  <script src="/static/js/alertify.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){});
    function slideToggle(){
    $("#footer").slideToggle(1000);
    }
    function toggle(){
    $("#footer").toggle(1000);
    }
  </script>
</head>
<body>
<script type="text/javascript">
  function reflashViews(){
    $('#fetter-view').attr('src', $('#fetter-view').attr('src'));
    $('#bbl-fetter').attr('src', $('#bbl-fetter').attr('src'));
    $('#func-src-info').attr('src', $('#func-src-info').attr('src'));
  }
  $(document).ready(function(){
    $('#funclist').on('click', 'option', function () {
      $.cookie("view_nodeid", this.id, {expires: 7, path: '/view'});
      reflashViews();
  });
    $("#footer button").click(function(){
    $(this).addClass("current").siblings().removeClass("current")
    })
    $('#jump').click(function(){
      reflashViews();
    });
    $('#bbl-viewed').click(function(){
      $('#bbl-fetter').attr('src', $('#bbl-fetter').attr('src'));
    });
    $('#fsi-viewed').click(function(){
      $('#func-src-info').attr('src', $('#func-src-info').attr('src'));
    });
  function change_index(index){
    var str_msg = "当前状态为状态"+ index +"，请输入您要跳转的状态号。"
    alertify.prompt(str_msg, function (e, str) {
        if (str) {
          $.post("{{ url_for("view.change_index", _external=True) }}",
          {new_index : str},
          function(data, status){
            if(data.action_index){
              alertify.success(data.msg);
            }
            else {
              alertify.error(data.msg);
            }
          });
        } else {
          alertify.error('您取消了状态更改。');
        }
    }, "请输入状态号");
  }
  function selectFirst(){
     get_ajax("{{ url_for('view.changeAlgorithm') }}");
  }
  function get_ajax(s_url) {
    $.ajax({
      url: s_url,
      jsonp: "callback",
      dataType: "json",
      success: function(response) {
        alertify.set({ delay: 10000 });
        if (response.status == 0){
          alertify.error(response.msg);
        }if (response.status == 1) {
          alertify.success(response.msg);
        }
      }
    });
  }
  $.cookie("view_nodeid", "{{ hex(gnodelist[0].id) }}",{expires: 7, path: '/view'});
</script>
  <form id="func-form">
  <div id='click-view' >
    <input type="button" id='footer-conctrl' value="功&nbsp;能&nbsp;栏" onclick="slideToggle()" style="font-weight: bold"/>
    <input type="text" id='condition' class="inputline" autocomplete="off"/>
    <input type="button" value="搜索" class="searchline" onclick="search()">
  </div>
  <div class="sel-box" >
    <select id="funclist" size="23" style="padding-top: 1px">
    {% for gnode in gnodelist %}
      <option id="{{ hex(gnode.id) }}">{{ hex(gnode.id) }}:{{ gnode.name }}</option>
    {% endfor %}
    </select>
  </div>
  </form>
    <iframe id="fetter-view" src="{{ url_for('view.featfetter') }}"></iframe>
    <iframe id="bbl-fetter" src="{{ url_for('view.fetter_bbl')}}" ></iframe>
    <iframe id="func-src-info" src="{{ url_for('view.func_src_info', page=1)}}" ></iframe>
    <div id="footer" class='bar' style="display:none;">
      <button onclick="toindex()" class="nomalone">首页</button>
      <button id="jump" class="nomalone current">中心跳转</button>
      <button id="bbl-viewed" class="nomalone">查看BBL</button>
      <button id="fsi-viewed" class="nomalone">查看汇编</button>
      <button id="BBL-show" onclick="BBLshow()" class="nomalone">BBL全屏</button>
      <button id="fsi-show" class="nomalone" onclick="fsi_show()">汇编全屏</button>
      <button id="view-report" onclick="viewReport()" class="nomalone">查看报告</button>
    </div>
<script type="text/javascript">
      function toindex() { window.location.href = "{{ url_for('main.index') }}"; }
      function viewReport() {window.open(" {{ url_for('view.report') }} ")}
      function BBLshow() {window.open(" {{ url_for('view.fetter_bbl') }} ")}
      function fsi_show() {window.open(" {{ url_for('view.func_src_info', page=1) }} ")}
      function settings() {window.open(" {{ url_for('view.process_conctrl') }} ")}
      function fuzzOnlying() {
        get_ajax("{{ url_for('view.onlyFuzzing') }}");
      }
//点击全屏显示
 $(function() {
     $('#func-src-info','body').click( function() {
       window.open(" {{ url_for('view.func_src_info',page=1) }} ")
         });
    });
</script>
<script type="text/javascript">
$("#footer button").click(function(){
    $(this).addClass("current").siblings().removeClass("current")
    })
    $(function(){
        var option = $("#funclist").find("option");

        var sh= option.length*16;
        var sw = 0;
        option.each(function(){
            var thisH = $(this).text().length*7;

            sw = (thisH>sw)?thisH:sw;
        })

        $("#funclist").css({width:sw,height:sh});
        $("#fetter-view").scrollLeft(200);

    });
 //禁用Enter键表单自动提交
     document.onkeydown = function(event) {
           var target, code, tag;
           if (!event) {
             event = window.event;
               target = event.srcElement;
             code = event.keyCode;
               if (code == 13) {
                  tag = target.tagName;
               if (tag == "TEXTAREA") { return true; }
                  else { return false; }
               }
          }
           else {
               target = event.target;
              code = event.keyCode;
             if (code == 13) {
                  tag = target.tagName;
                   if (tag == "INPUT") { return false;search(); }
                   else { return true; }
               }
            }
      };
//搜索功能
var funclistOpt = $("#funclist option");
$(document).ready(function (){
      $("#condition").keyup(function(){
            search();
    });
});
function search(){
  var resultlist = new Array();
  var searchtarget=$("#condition").val();
  for (var i = 0; i < funclistOpt.length; i++)
   {
       if(funclistOpt[i].text.indexOf(searchtarget) >= 0)
       {
           resultlist.push(funclistOpt[i]);
       }
   }
   $("#funclist").empty().append(resultlist);
}
//功能栏大小
var ScreenW=$(document.body).width();
var ButtonNum=11;
var SumButton=($('#footer button').width()+10)*ButtonNum;
if (SumButton>=ScreenW)
{
    $("#footer").css("height",'120px');
    $("#footer").css("line-height",'50px');
}
</script>
</body>
</html>
