.creating h2,.creating h3 {
    color:#333;
}
body{
        background: url(../images/w_bg-6.jpg) top center;
}
.bigtop {
    background-color: #fff;
}
button{
    background-color: #0068B7;
}
p{
    color:#333;
}