<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<!-- <link rel="stylesheet" type="text/css" href="/static/css/bootflatly.min.css"> -->
<link rel="stylesheet" type="text/css" href="../static/css/nbitstyle.css">
<link rel="stylesheet" type="text/css" href="../static/css/netconfigCss.css">
<script src="../static/jquery.js"></script>
{#<script src="../static/js/nbit.js"></script>#}

<script>
  window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>
</head>

<body>
<!--首页logo部分-->
<div class="bigtop">
<div class="indexheader">
	<div class="index_logo">
    <img src="/static/images/logo.png">
    </div>
    <div class="index_login">
        <a href="{{ url_for('auth.resetpassword') }}" target="_blank">重置密码</a>
        <a href="{{ url_for('auth.logout') }}" target="_blank">退出登录</a>
    </div>
</div>
</div>
<!--导航-->
<div class="index_navbox">
<ul class="index_nav">
    <li><a href={{ url_for('main.login_guide') }}>首页</a></li>
    <li><a href={{ url_for('main.index') }}>任务管理</a></li>
    <li class="active"><a href="/newtask/">新建任务</a></li>
    <li><a href="">关于</a></li>
</ul>
</div>
<div class="netbingbox">
<div class="bigleft">
<h2 class="h2bt">任务配置：</h2>
<form id="net-config" method="post">
 <div class="jilu">
    <span>记录限制</span>
    <input type="text" value="10000000" name="loglimit" />
 </div>
 <div class="jilu">
    <span>指令个数</span>
    <input type="text" value="100000000" name="ins" />
 </div>
 <div class="jilu">
    <span>污点起点</span>
    <input type="text" value="0" name="taint_offset_start"/>
 </div>
 <div class="jilu">
    <span>污点长度</span>
    <input type="text" value="1000" name="taint_offset"/>
 </div>
    <!-- <div class="jilu">
    <a>相应时限</a>
    <input type="text" name="timeout" />
    </div> -->
    <!-- <div class="jilu">
    <a>状态总数</a>
    <input type="text" name="action_count" />
    </div> -->
  <div class="jilu">
    <span>测试用例总数</span>
    <input type="text" value="100000" name="case_count"  />
  </div>
  <div class="jilu">
    <span>程序端口</span>
    <input type="text" value="21" name="port_num"/>
  </div>
  <div class="jilu">
    <span>测试用例名称</span>
    <input type="text" value="ftp_fuzzing" name="peach_test"/>
  </div>
    <div style="clear: both"></div>
  <div class="algorithmchoose">
    <span>算法选择</span>
    <input type="radio" id="fuzz" name="app_status" value="6"/>
      <label class="l1" for="fuzz">Fuzz</label>
    <input type="radio" id="index" name="app_status" value="0" checked/>
      <label class="l2" for="index">符号执行</label>
  </div>
{#  <div class="algorithmchoose">#}
{#    <span>运行平台</span>#}
{#    <input type="radio" name="platform" value="x86"/>#}
{#      <label class="l1">x86</label>#}
{#    <input type="radio" name="platform" value="x86_64"checked/>#}
{#      <label class="l2" >x86_64</label>#}
{#  </div>#}
  <div class="algorithmchoose">
    <span>插桩模式</span>
    <input type="radio" id="addmode" name="stubmode" value="addmode"/>
      <label class="l1" for="addmode">附加模式</label>
    <input type="radio" id="createmode" name="stubmode" value="createmode"checked/>
      <label class="l2" for="createmode">创建模式</label>
  </div>

    <div class="sub_net">
        <button  type="button" class="back"  onclick ="javascript:history.go(-1);">上一步</button>
        <button type="button" class="nettj">提交</button>
    </div>
</form>
</div>
	<div class="bigright">
    	<div class="bigtitle">
		<h2>填写说明</h2>
        </div>
        <div class="dl_nr">
        <p>
        <span>1.记录限制</span><br>
        &nbsp;&nbsp;限制trace文件中记录指令数.<br>
        <span>2.指令个数</span><br>
        &nbsp;&nbsp;限制待测程序分析指令数.<br>
        <span>3.污点起点</span><br>
        &nbsp;&nbsp;根据需要指定污点起点，限制污点选定.<br>
        <span>4.污点长度</span><br>
        &nbsp;&nbsp;对污点长度进行限制.<br>
        <span>5.程序端口号</span><br>
        &nbsp;&nbsp;填写目标程序的应用端口号.<br>
        <span>6.测试用例名称</span><br>
        &nbsp;&nbsp;测试用例的名称要和peach pit的名称相同.<br>
        </p>
        </div>
	</div>
</div>
<div id="confirm" >
    <div class="confirm-info">
        <h1>任务信息</h1>
        <div class="lf_text">
            <p><span>任务名称:</span><span>{{ htmltaskname }}</span></p>
            <p><span>任务描述:</span><span>{{ htmltaskinfo }}</span></p>
            <br>
            <p><span>程序源码:</span><span>{{ htmlsourcezip }}</span></p>
            <p><span>PeachPit文件:</span> <span>{{ htmlpeachpit }}</span></p>
            <p title="{{ htmlhook }}"><span>hook函数:</span><span class="super_text">{{ htmlhook }}</span></p>
            <br>
            <p><span>IP地址:</span><span>{{ htmlipaddress }}</span></p>
            <br>
            <p title="{{ htmlfullpath }}"><span>程序路径:</span><span class="super_text"><i id="platform">{{ htmlplatform }}</i>{{ htmlfullpath }}</span></p>
            <p><span>测试用例名称:</span><span class="peach_test"></span></p>
        </div>
        <div class="rt_text">
            <p><span>记录限制:</span><span class="loglimit"></span></p>
            <p><span>指令个数:</span><span class="ins"></span></p>
            <p><span>污点起点:</span><span class="taint_offset_start"></span></p>
            <p><span>污点长度:</span><span class="taint_offset"></span></p>
            <p><span>测试用例总数:</span> <span class="case_count"></span></p>
            <p><span>程序端口:</span><span class="port_num"></span></p>
            <p><span>算法选择:</span><span class="app_status"></span></p>
            <p><span>插桩模式:</span><span class="stubmode"></span></p>
        </div>
        <div style="clear:both;"></div>
        <div class="btn">
            <input type="button" class="del" value="取消">
            <input type="submit" form="net-config" class="succ" value="确定">
        </div>
    </div>
</div>
<script type="text/javascript">
    //获取任务汇总信息等待用户二次确认

    $(document).ready(function(){
    $('.sub_net .nettj').click(function(){
        $('#confirm').show();
        //记录限制
        var textLimit=$('input[name="loglimit"]').val();
        //console.log(textLimit);
        $('.loglimit').html(textLimit);
        //指令个数
        var textIns=$('input[name="ins"]').val();
        //console.log(textIns);
        $('.ins').html(textIns);
        //污点起点
        var textStart=$('input[name="taint_offset_start"]').val();
        //console.log(textStart);
        $('.taint_offset_start').html(textStart);
        //污点长度
        var textOffset=$('input[name="taint_offset"]').val();
        //console.log(textOffset);
        $('.taint_offset').html(textOffset);
        //测试用例总数
        var textCount=$('input[name="case_count"]').val();
        //console.log(textCount);
        $('.case_count').html(textCount);
        //程序端口
        var textPort=$('input[name="port_num"]').val();
        //console.log(textPort);
        $('.port_num').html(textPort);
        //算法选择
        var textStatus=$('input[name="app_status"]:checked').val();
        //console.log(textStatus);
        textStatus=="fuzz"?textStatus="Fuzz":textStatus="符号执行";
        $('.app_status').html(textStatus);
        //运行平台
        var textPlatform=$('#platform').html();
         console.log(textPlatform);
         if(textPlatform==1)
           textPlatform="[x64]";
         else if(textPlatform==0)
           textPlatform="[x86]";
         $('#platform').html(textPlatform);
        //插装模式
        var textStubmode=$('input[name="stubmode"]:checked').val();
        //console.log(textStubmode);
        textStubmode=="addmode"?textStubmode="附加模式":textStubmode="创建模式";
        $('.stubmode').html(textStubmode);
        //测试用例名称
        var textTest=$('input[name="peach_test"]').val();
        //console.log(textTest);
        $('.peach_test').html(textTest);
    });
    $('#confirm .del').click(function(){
        $('#confirm').hide()
    });
    $(function(){
        $(':text').focus(function(){
            this.select();
        });
    });

});
</script>
</body>
</html>
